<nav>
    <div class="logo">
        <a href="/"><h1>Alaref</h1></a>
        <p>Alaref Website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">blogs</a></li>
    </ul>
</nav>
