<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')   %>
<body>
    <%- include('./partials/nav.ejs')   %>

    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, hic quas? Voluptatem, eos optio quo unde tempora fuga molestiae voluptate sapiente vitae autem nesciunt temporibus illo ad obcaecati enim praesentium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, hic quas? Voluptatem, eos optio quo unde tempora fuga molestiae voluptate sapiente vitae autem nesciunt temporibus illo ad obcaecati enim praesentium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, hic quas? Voluptatem, eos optio quo unde tempora fuga molestiae voluptate sapiente vitae autem nesciunt temporibus illo ad obcaecati enim praesentium.</p>
    </div>

    <%- include('./partials/footer.ejs')   %>

</body>
</html>